python_version>='3.8'

aiohttp~=3.7.4
lxml~=4.6.3

mysql-connector-python
sqlalchemy~=1.4.12

ru-core-news-sm
spacy~=3.0.6

numpy
pandas~=1.2.4
plotly~=5.0.0
pyqtwebengine

#pyside2~=5.13.2
pyqt5~=5.12.3
